<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>eWallet</title>
		<link rel="stylesheet" href="style.css" media="screen">
		<link rel="stylesheet" href="../../resources/style/demo.css" media="screen">
		<!-- load dojo and provide config via data attribute -->
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js" 
				data-dojo-config="isDebug: true,parseOnLoad: true">
		</script>

		<script>
			charData=[];
			// Require the basic 2d chart resource: Chart2D
			dojo.require("dojox.charting.Chart2D");

			// Require the theme of our choosing
			//"Claro", new in Dojo 1.6, will be used
			dojo.require("dojox.charting.themes.Tom");

			// Ajax function
				
           			 function refreshContent() {
            		    dojo.xhrGet({
            		        url:"/budgetmdata",
                  	  load: function(newContent) {
		
                  	      chartData=eval(newContent);
            			// Create the chart within it's "holding" node
				var chart = new dojox.charting.Chart2D("chartNode");

				// Set the theme
				chart.setTheme(dojox.charting.themes.Tom);

				// Add the only/default plot 
				chart.addPlot("default", {
					type: "Lines",
					markers: true
				});
				
				// Add axes
				jdata=[{value: 1, text: "Jan"}, {value: 2, text: "Feb"},
        				{value: 3, text: "Mar"}, {value: 4, text: "Apr"},
        				{value: 5, text: "May"}, {value: 6, text: "Jun"},
        				{value: 7, text: "Jul"}, {value: 8, text: "Aug"},
        				{value: 9, text: "Sep"}, {value: 10, text: "Oct"},
        				{value: 11, text: "Nov"}, {value: 12, text: "Dec"}];
				chart.addAxis("x", {
						    labels:jdata
						    });

				chart.addAxis("y", { min: 5000, max: 15000, vertical: true, fixLower: "major", fixUpper: "major" });

				// Add the series of data
				chart.addSeries("Monthly Sales",chartData);

				// Render the chart!
				chart.render();

		      	  },

			//Ajax error
                  	  error: function() {
                  	      // Do nothing -- keep old content there
                  	  }
                		});
            		}

			
			// Define the data
			
			
			// When the DOM is ready and resources are loaded...
			dojo.ready(function() {
				refreshContent();
								
			});
			
		</script>
	</head>
	<body>
		<h2>Monthly Budget analysis</h2>
		
		<div id="chartNode" style="width:500px;height:300px;"></div>
	</body>
</html>
