<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/site_media/css/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/site_media/images/icon.ico" />
<link rel="stylesheet" href="/site_media/css/style.css" media="screen">
 <link rel="stylesheet" href="/site_media/css/menu.css" type="text/css" media="all">		
    <!-- load dojo and provide config via data attribute -->
<style type="text/css" title="text/css">
			@import "/site_media/css/claro.css";
			
		</style>
        <style type="text/css">
#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#customers tr.alt td 
{
color:#000000;
}
</style>

		<script src="/site_media/js/dojo.xd.js"
				data-dojo-config="isDebug: true,parseOnLoad: true">
		</script>
        
		<script>
			dojo.require('dojox.validate');
			dojo.require('dojox.validate.us');
			dojo.require('dojox.validate.web');


			/* basic dijit classes */

			dojo.require('dijit.form.CheckBox');
			dojo.require('dijit.form.Textarea');
			dojo.require('dijit.form.FilteringSelect');
			dojo.require('dijit.form.TextBox');
			dojo.require('dijit.form.ValidationTextBox');
			dojo.require('dijit.form.DateTextBox');
			dojo.require('dijit.form.TimeTextBox');
			dojo.require('dijit.form.Button');
			dojo.require('dijit.form.RadioButton');
			dojo.require('dijit.form.Form');
			dojo.require('dijit.form.DateTextBox');

			
			/* basic dojox classes */
			dojo.require('dojox.form.BusyButton');
			dojo.require('dojox.form.CheckedMultiSelect');
</script>
	<script>
 
    </script>	
</head>

<body>

<div id="headerbg">
  <div id="headerblank">
    <div id="exampler">

    <div class="menuholder">
        <ul class="menu slide">
            <li><a href="#" class="red">Home</a>
                            <div class="subs">
                    <dl>
                       
                        <dd><a href="/">login</a></dd></dl>
                        <dl>
                       
                        <dd><a href="/logout/">logout</a></dd></dl>

                    
                </div>

            </li>
            <li><a href="#" class="orange">Loan</a>
                <div class="subs">
                    <dl>
                        <dd><a href="/loanfill/">Add Loans</a></dd>
                   </dl><dl>     <dd><a href="/loan_display/">View Loans</a></dd>
					</dl>
                </div>
            </li>
            <li><a href="#" class="yellow">Expense</a>
                <div class="subs">
                    <dl>
                       
                        <dd><a href="/showtransaction/">Set Expenses</a></dd></dl><dl>
                        <dd><a href="/displaytran/">View Expenses</a></dd>
                    </dl>
                    
                </div>
            </li>
            <li><a href="#" class="green">Budget</a>
            <div class="subs">
                    <dl>
                       
                        <dd><a href="/budget_m_display/">Monthly Analysis</a></dd></dl><dl>
                        <dd><a href="/budget_y_display/">Yearly Analysis</a></dd></dl><dl>
                         <dd><a href="/budget_display/"> Category-wise </a></dd></dl><dl>
                         <dd><a href="/showbudget/">Set Budget</a></dd>
                    </dl>
                    
                </div></li>
           
           
        </ul>
        <div class="back"></div>
        <div class="shadow"></div>
    </div>
    <div style="clear:both"></div>

  </div>
    <div id="header"></div>
  </div>
</div>
<div id="contentbg">
  <div id="contentblank">
    <div id="content">
      <div id="contentleft">
        <div id="leftnavheading">
          <h4>Upcoming Features</h4>
        </div>
        <div id="leftnav">
          <ul>
            <li><a href="#" class="leftnav">Intelligent Budget Analsys</a></li>
            <li><a href="#" class="leftnav">Integration with major banks all over the world.</a></li>
            <li><a href="#" class="leftnav">Area wise Economy monitoring.</a></li>
            <li><a href="#" class="leftnav">Stocks and Forex integration</a></li>
            <li><a href="#" class="leftnav">Android and iPhone apps.</a></li>
            <li><a href="#" class="leftnav">Custumization of analysis and setting.</a></li>
            
          </ul>
        </div>
      </div>
      <div id="contentmid">
        <div class="midheading">
          <h2>Transactions View</h2>
        </div class="claro">
        <div class="midtxt"><span class="midboldtxt">
	
	      
	<table id="customers">
<tr>

<th>Category</th>

<th>Amount</th>

<th>Date</th>

</tr>
{% for ele in t %}
<tr class="alt" id='{{ele.name}}'>
<td>{{ ele.category }}</td>


<td>{{ ele.amount }}</td>

<td>{{ ele.date }}</td>

</tr>
{%endfor%}
</table>

    </div>
        <div id="comments">
        </div>
        
            </div>
  </div>
</div>
<div id="footerbg">
  <div id="footerblank">
    <div id="footer">
      <div id="footerbox">
        <div class="footerheading">
        <h4>$99/month</h4></div>
        <div class="footertxt">Enjoy acces to a months loan analysis.</div>
      </div>
      <div id="footermid"><div class="footerheading">
        <h4>$999/month</h4></div>
      <div class="footertxt">Enjoy acces to a months loan and budget analysis</div>
      </div>
      <div id="footerlast">
        <div class="footerheading">
          <h4>$9999/month</h4>
        </div>
        <div class="footertxt">Enjoy acces to a months loan and upcoming INTELLIGENT budget analysis</div>
      </div>
      <div id="footerlinks"><a href="#" class="footerlinks">Home</a> | <a href="#" class="footerlinks">About Us</a> | <a href="#" class="footerlinks">Support</a> | <a href="#" class="footerlinks">Forum</a> | <a href="#" class="footerlinks">Development</a> | <a href="#" class="footerlinks">Conact Us</a></div>
      <div id="copyrights">© Copyright Information Goes Here. All Rights Reserved.</div>
      <div id="designedby">Designed by Mohak, Nishanth and Monish<a href="http://www.smashingmagazine.com" target="_blank" class="designedby"></a></div>
      <div id="validation"><a href="http://validator.w3.org/check?uri=referer" class="xhtml">xhtml</a><a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">css</a></div>
    </div>
  </div>
</div>
<script>
        s=document.getElementById('check').value;
        k=eval(s);
        </script>
</body>
</html>
